<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<connectionStrings>
		<add name="DatabaseConnectionString" connectionString="data source=N074CASSVRBDA01;initial catalog=REITS_111099;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" xdt:Transform="Replace" xdt:Locator="Condition(@name='DatabaseConnectionString')" />
  </connectionStrings>
	<appSettings>
		<add key="rootPath" value="X:\\BDApp\\REITs\\" xdt:Transform="Replace" xdt:Locator="Match(key)" />

		<add key="SharePointDefaultSite" value="BDAPPSITE" xdt:Transform="Replace" xdt:Locator="Match(key)" />
	</appSettings>
</configuration>