<?xml version="1.0" encoding="utf-8"?>
<!--For more information on using transformations see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<connectionStrings>
		<!--<add name="DatabaseConnectionString" connectionString="data source=10.181.30.42;initial catalog=REITS_111099;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" xdt:Transform="Replace" xdt:Locator="Condition(@name='DatabaseConnectionString')" />-->
		<add name="DatabaseConnectionString" connectionString="data source=P100CASSVRBDA01;initial catalog=REITS_111099;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" xdt:Transform="Replace" xdt:Locator="Condition(@name='DatabaseConnectionString')" />
  </connectionStrings>
</configuration>