<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<connectionStrings>
		<!--<add name="DatabaseConnectionString" connectionString="data source=DESKTOP-QBJTHQN\MSSQLSERVER01;initial catalog=REITS_111099;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
    <!--<add name="DatabaseConnectionString" connectionString="data source=N074CASSVRBDA01;initial catalog=REITS_111099;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
    <add name="DatabaseConnectionString" connectionString="data source=10.21.222.70\SQL_PRDU_01;initial catalog=REITS_111099;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<appSettings>
		<add key="rootPath" value="\\p161wcsstoprm01.file.core.windows.net\bdapp-installation-files\111099\" />
		<add key="xmlValidationFile" value="REIT_Xml_Schema_v2.3.xsd" />
		<add key="noteSearchWordFile" value="NoteWordsXML\\NoteSearchWords.xml" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />

		<add key="CAFDefaultLocation" value="" />
		<add key="UseSharepoint" value="true" />

		<add key="SharePointDefaultSite" value="CCG_LB_UK-REIT" />
		<add key="SharePointDefaultDrive" value="REIT BDAPP Exports" />
		<add key="SharePointDefaultFolder" value="" />
	</appSettings>
	<system.diagnostics>
		<sources>
			<source name="System.Windows.Data" switchName="SourceSwitch">
				<listeners>
					<add name="textListener" />
				</listeners>
			</source>
		</sources>
		<switches>
			<add name="SourceSwitch" value="All" />
		</switches>
		<sharedListeners>
			<add name="textListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="C:\Temp\WPFDebugTrace.txt" />
		</sharedListeners>
		<trace autoflush="true" indentsize="4">
		</trace>
	</system.diagnostics>
	<runtime>
	</runtime>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
			</providers>
		</roleManager>
	</system.web>
</configuration>